/* DashboardCardView.css */

@font-face {
    font-family: 'CustomFont';
    src: url('./Design/fonts/FM-Malithi.ttf') format('truetype');
}

.custom-font {
    font-family: 'CustomFont', sans-serif;
}


.container {
    background-color: #efefef;
    /* Matches the light gray background */
    padding: 20px;
}

.text-primary {
    font-size: 24px;
    font-weight: 600;
    color: #007bff;
    /* Matches the primary blue color */
}

.card {
    border-radius: 10px;
    transition: transform 0.3s ease;
}


.card-title {
    font-size: 24px;
    font-weight: 500;
    margin-top: 10px;
    color: #0a66c2;
    /* Matches the specific text color */
}

.card img {
    width: 50px;
    margin-bottom: 10px;
    margin-top: 30px;
}

@media (max-width: 768px) {
    .card {
        margin-bottom: 20px;
    }
}

.custom-btn {
    background-color: #0a66c2;
    font-weight: 600;
    padding: 10px 0px;
}

.card-heading {
    color: #0a66c2;
}

input {
    padding: 10px 15px !important;
}

.top-bar {
    width: 100%;
    /* Adjust as needed */
    background-color: #0a66c2;
    /* Replace with your desired color */
    display: flex;
    align-items: center;
    padding: 0 16px;
    /* Add some padding on the sides */
    box-sizing: border-box;
}

.top-bar-icon {
    height: 30px;
    /* Adjust as needed */
    margin-right: 10px;
    /* Add spacing between the icon and text */
}

.top-bar-text {
    color: #fff;
    /* White text */
    font-size: 16px;
    /* Adjust as needed */
    font-weight: bold;
}